### Cleaning

#### What to clean:
a) missing values (NaN)
b) Convert date to date-time
c) check for outliers (any non realistic data)
d) numeric should be int or float

In [51]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sb

In [52]:
df = pd.read_csv('fitness_dashboard_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            500 non-null    object
 1   Month           500 non-null    object
 2   Weekday         500 non-null    object
 3   Steps           500 non-null    int64
 4   Calories        500 non-null    int64
 5   WorkoutMinutes  500 non-null    int64
 6   SleepHours      500 non-null    float64
 7   WaterIntake(L)  500 non-null    float64
 8   HeartRate       500 non-null    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 35.3+ KB

In [53]:
df.head()

,Date,Month,Weekday,Steps,Calories,WorkoutMinutes,SleepHours,WaterIntake(L),HeartRate
0,2023-01-01,January,Sunday,18122,2877,66,10.0,1.59,76
1,2023-01-02,January,Monday,12538,3989,103,5.6,2.49,69
2,2023-01-03,January,Tuesday,10994,3877,117,6.1,2.19,64
3,2023-01-04,January,Wednesday,19074,2926,0,6.0,1.63,104
4,2023-01-05,January,Thursday,18948,2004,11,8.2,2.82,95

In [54]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            500 non-null    datetime64[ns]
 1   Month           500 non-null    object
 2   Weekday         500 non-null    object
 3   Steps           500 non-null    int64
 4   Calories        500 non-null    int64
 5   WorkoutMinutes  500 non-null    int64
 6   SleepHours      500 non-null    float64
 7   WaterIntake(L)  500 non-null    float64
 8   HeartRate       500 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 35.3+ KB

In [55]:
# checking for any outlier or impossible values 
if df['HeartRate'].any() > 200  or df['SleepHours'].any() > 12 or df['Steps'].any() > 25000 or (df['HeartRate']< 40).any():
    print("NO")

In [56]:
# checking for Nan values 
df.isna().any()

Date              False
Month             False
Weekday           False
Steps             False
Calories          False
WorkoutMinutes    False
SleepHours        False
WaterIntake(L)    False
HeartRate         False
dtype: bool

In [63]:
# df.loc[df["WorkoutMinutes"] == 0, "WorkoutMinutes"] = df["WorkoutMinutes"].mean()
mn = df["WorkoutMinutes"].mean()
df[df["WorkoutMinutes"] == 0] = mn

In [66]:
df.to_csv('fitness_dashboard_data.csv',index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            500 non-null    datetime64[ns]
 1   Month           500 non-null    object
 2   Weekday         500 non-null    object
 3   Steps           500 non-null    int64
 4   Calories        500 non-null    int64
 5   WorkoutMinutes  500 non-null    float64
 6   SleepHours      500 non-null    float64
 7   WaterIntake(L)  500 non-null    float64
 8   HeartRate       500 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 35.3+ KB